<div class="task-container">
  <% @tasks_with_categories.each do |category, tasks| %>
    <div class="task-list">
      <h2 class="task-list-header"><%= category.name %></h2>
      <div class="task-list-contents">
        <% tasks.each do |task| %>
          <div class="task-card">
            <i class="fas fa-tasks task-card-img"></i>
            <div class="task-card-info">
              <div class="task-card-header">
                <h3><%= task.title %></h3>
                <%= link_to edit_task_path(task) do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </div>
              <p>Description: <%= task.description %></p>
              <p><%= task.status %></p>
            </div>
            <%= link_to complete_task_path(task), method: :post, class: "task-card-status" do %>
              <i class="far fa-check-square task-card-status task-incomplete"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


